{% extends 'news/base.html' %}

{% block title %}Are you sure?{% endblock %}

{% block content %}
<div class="card small">
    <h1>Are you sure?</h1>
    <p>
        Do you really want to delete the {{ object_type }}
        "<strong>{{ object }}</strong>"? You can not undo this.
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button danger">Yes, delete it</button>
        <a class="button grey" href="{% url 'article_list' %}">No, go back</a>
    </form>
</div>
{% endblock %}
