{% extends 'news/base.html' %}

{% block title %}{{ newsletter.title }}{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ newsletter.title }}</h1>
    <p class="meta">
        By {{ newsletter.author.username }} |
        {{ newsletter.created_at|date:"d M Y" }}
    </p>
    <p>{{ newsletter.description|linebreaks }}</p>

    <h3>Articles in this newsletter</h3>
    <ul>
        {% for article in newsletter.articles.all %}
            <li><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></li>
        {% empty %}
            <li>No articles were added to this newsletter.</li>
        {% endfor %}
    </ul>

    {% if user.role == 'editor' or user == newsletter.author %}
        <p>
            <a class="button" href="{% url 'newsletter_edit' newsletter.id %}">Edit</a>
            <a class="button danger" href="{% url 'newsletter_delete' newsletter.id %}">Delete</a>
        </p>
    {% endif %}
</div>
{% endblock %}
